<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="container mt-3 w-60">
	  <h3>도서조회/수정</h3>
	  <table class="table table-hover">
	    <thead>
	      <tr class="text-center">
	        <th>도서번호</th>
	        <th>도서명</th>
	        <th>표지</th>
	        <th>출판일자</th>
	        <th>금액</th>
	        <th>출판사</th>
	        <th>도서소개</th>
	      </tr>
	    </thead>
	    <tbody>
		  <!-- 전체목록 출력 -->
		  <th:block th:each="info : ${books}">
		  	<tr>
		  		<td>[[ ${info.bookNo} ]]</td>
		  		<td>[[ ${info.bookName} ]]</td>
		  		<!-- <td>[[ ${info.bookCoverimg} ]]</td> -->
		  		<td><img th:src="@{/images/{bookImg}(bookImg=${info.bookCoverimg})}"></td>
		  		<!-- <td>[[ ${info.bookDate} ]]</td> -->
		  		<td>[[ ${ #dates.format(info.bookDate, 'yyyy/MM/dd') } ]]</td>
		  		<!--<td>[[ ${info.bookPrice} ]]</td>-->
		  		<td>[[ ${#numbers.formatInteger(info.bookPrice, 3, 'COMMA')} ]]</td>
		  		<td>[[ ${info.bookPublisher} ]]</td>
		  		<td>[[ ${info.bookInfo} ]]</td>
		  	</tr>
		  </th:block>
	    </tbody>
	  </table>
	</div>
</body>
</html>